ActionBar {
    background-color: var(--dark-color-one);
    padding: 0 0 12 0;
    flat: true;
}

ActionBar .show-drawer-btn {
    horizontal-alignment: left;
    font-size: 25;
    font-weight: bold;
    text-align: left;
    margin-top: 10;
    width: 30;
    padding: 0;
    background-color: transparent;
    android-elevation: 0;
    color: var(--dark-color-five)
}